body {
    grid-template-columns: 1fr;
}

.main {
    margin: 0;
    justify-self: center;
    grid-template-columns: 1fr;
}

#company-info-form {
    display: grid;
    align-items: center;
    justify-items: stretch;
    grid-template-columns: auto auto auto;
    gap: 10px;
    justify-content: center;
}


#company-info-form label {
    margin-right: 30px;
}

#company-info-form input {
    grid-column: span 2;
}

#company-info-form input[type=file] {
    grid-column: span 1;
}

#company-info-form input[type=submit] {
    grid-column: span 3;
}

#company-info-form img {
    width: 38px;
    height: 38px;
    border-radius: 5px;
}

.button.big {
    padding: 15px 30px;
}

.button.big.cyan {
    background-image: linear-gradient(to right, #00c6ff 0%, #0072ff  51%, #00c6ff  100%);
}
