@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700;900&display=swap');

/* DEFINE GLOBLE VARIABLE */

:root {
    --header-height: 80px;
    --black-shadow: rgba(0 0 0 / 50%);
    --dark-blue: #005cd4;
    --darker-blue: #012d6a;
    --success-color:#66bb6a;
    --error-color: #e53935;
}

/* HTML & BODY */

html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
}

/* HEADER */

#header {    
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: 1fr;
    align-items: center;    
    margin-bottom: 10px;   
    background-image: url(./../img/backgrounds/header-banner.jpg);    
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: var(--header-height);
    color: white;    
    text-shadow: 0 0 3px var(--black-shadow);
    box-shadow: 0 0 8px 5px var(--black-shadow);  
    user-select: none;  
}

#header > .title:nth-child(2) {
    justify-self: center;
}

#header > *:first-child {
    grid-column: 1;    
    justify-self: left;
    margin-left: 50px;
}

#header > *:last-child {
    grid-column: 3;
    justify-self: right;
    margin-right: 50px;
}

#header .title {        
    font-size: xx-large;
    text-shadow: 0 0 5px var(--black-shadow);
}

#header .img {
    display: block;
    width: 32px;
    height: 32px;
}

#header-company {       
    display: flex;    
    align-items: center;
    justify-content: end;
    margin-right: 50px;
    grid-column: 3;
}

#header-company-logo {
    display: block;
    margin-left: 20px;
    height: calc(var(--header-height) - 20px);
    border-radius: 100%;
    box-shadow: 0 0 5px 2px var(--black-shadow);
    aspect-ratio: 1;
    object-fit: cover;
}

#header-company span {
    font-size: large;
}

/* INPUT */

input {
    border: 1px solid #aaa;
    padding: 8px;
    box-sizing: border-box;
    border-radius: 5px;
}

/* Clickable */

.button {
    border: none;
    text-decoration: none;
    user-select: none;
    cursor: pointer; 
    transition: all .15s;
    filter: drop-shadow(0px 0px 2px var(--black-shadow));
}

.button:hover {
    transform: scale(1.05);
    filter: drop-shadow(0px 0px 3px black);
}

.button.big, .button.medium {
    display: block;
    margin: 10px 20px;
    padding: 30px;
    font-size: large;
    color: #fff;
    border-radius: 20px;
    box-shadow: 0 0 5px var(--black-shadow);
    text-align: center;
    transition: all 0.15s, background-position 0.5s;
    background-size: 200% auto;
    white-space: nowrap;
}

.button.big:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
}

.button.big.dark {
    background-image: linear-gradient(to right, #517fa4 0%, #243949  51%, #517fa4  100%);
}

.button.big.cyan {
    background-image: linear-gradient(to right, #00c6ff 0%, #0072ff  51%, #00c6ff  100%);
}

input[type=submit] {
    justify-self: center;
    padding-top: 10px !important;
    padding-bottom: 10px !important;    
}