body {
    display: grid;
    grid-template-columns: 1fr 500px;
    grid-template-rows: auto 1fr;
    align-items: center;    
    background-image: url(./../img/backgrounds/corporate-businessmen-working-tablet-office.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#header {
    grid-column: span 3;
}

#header .item {    
    display: flex;
    justify-self: left;
    margin-left: 50px;
    align-items: center;
    justify-content: center;
}

#header .item .title {
    margin-left: 20px;
}

img.polygon-overlay {
    width: 400px;
    justify-self: center;
}

.main {
    margin-right: 100px;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    align-content: space-evenly;
    padding: 30px;
}

.main span {
    margin-bottom: 50px;
    font-size: 5vw;
    color: #fff;
    grid-column: span 2;    
    text-shadow: 0 0 10px rgba(0 0 0 / 30%);
}

/* Make space for Admin extra button "Espace Admin" */

.main.admin {
    grid-template-columns: 1fr 1fr 1fr;
}

.main span.admin {
    grid-column: span 3;
}