#year_box {
    margin-top: 20px;
    padding: 20px;
    width: 20vw;
    display: flex;    
    align-items: center;
    justify-content: space-between;
    background-color: rgba(11 97 206);    
    align-self: center;    
    border-radius: 10px;
    border: 1px solid var(--dark-blue);
    color: #fff;
}

#year_box > span {
    font-size: large;
}

#survey_year {
    width: 60%;
    font-size: large;
    text-align: center;
}

/* Survey Form: Participant info + surfey questions. */
.survey_form {     
    display: flex;
    flex-direction: column;
    margin: 10px 30px;
}

/* The survey form is separated into sections. */
.section {
    width: 100%;
    margin: 10px 0;
}

/* Each section has a title/header: its first div element. */
.section > div:first-child {
    color: var(--dark-blue);
    font-size: larger;
    font-weight: bolder;
    padding: 15px 40px;
    background-image: url(./../img/gear.png);
    background-repeat: no-repeat;
    background-size: 24px;
    background-position: 5px center;
    border-top: 2px solid var(--dark-blue);
    border-bottom: 2px solid var(--dark-blue);
}

/* The participant identity form. */
.section #identity_form {
    display: grid;
    margin: 20px 0;
    gap: 10px 20px;
    grid-template-columns: 200px auto 200px auto;
    grid-template-rows: auto auto auto;
    align-items: center;
}

/* The participant identity form textarea height. */
.section #identity_form textarea {
    min-height: 200px;
}

/* Add the required indicator on participant identity form labels. */
.section label.required::after {
    content: ' *';
    color: red;
}

/* The last two textareas (+ their labels) in the participant identify form must take full row. */
.section #identity_form *:nth-last-child(-n+4) {
    grid-column: span 4;
}

/* Each section may contain one or more questions. */
.section .question {
    display: grid;
    align-items: center;
    margin: 20px 10px;
    grid-template-columns: 6fr 1fr 1fr 1fr 1fr;
    gap: 5px;
}

/* Section question title style */
.section .question > div:first-child {
    font-size: large;
    font-weight: bolder;
}

/* Section question emojies */
.rating-emoji {
    width: 32px;
    margin: 4px;
    justify-self: center;
}

/* Section question radios */
.section .question input[type=radio] {
    width: 18px;
    height: 18px;
    justify-self: center;
}

/* Section question elements' labels */
.section .question > label {
    margin-left: 10px;
}

.section .question > label:last-of-type {
    margin: 10px 20px;
}

.section .question textarea {
    grid-column: span 5;
    margin: 0 20px;
    min-height: 100px;
}